<div class="content-video">
    <video class="main-video" width="1920" height="596" id="bgvideo" class="bgvideo" muted="muted" autoplay="autoplay" loop="loop" >
        <source src="Test Animation/EYi-Animation-Test.mp4" type="video/mp4">
    </video>
    <button class="video-button">click here</button>
</div>  

<style>
    .content-video{
        position: relative;
    }

    .video-button{
        position: absolute;
        background-color: yellow;
        padding: 10px 15px;
        color: black;
        width: 50px;
    }
</style>






